// here you can decide what container manager to use: singularity or docker

singularity {  
     enabled = true
     pullTimeout = 20000
     // Example: Mounting your scratch folder so the container can see it
    runOptions = "--bind /home/abontemp/nf-scRNA/r-scripts:/r-scripts"
 }
//docker {
//    enabled = true
//    runOptions = "-v ${projectDir}/r-scripts:/r-scripts" // mount in the container the r-scripts folder containing all the scripts
//}
process {
    container = '/home/abontemp/nf-scRNA/sc_rna_v1.1.sif' // to use the docker hub image : bontix77/sc_rna:v1.1
    executor = 'slurm'
    memory = '64 GB' 
    beforeScript = 'module load singularity'
}

// if need to run outside the docker container (don't forget to recalibrate script's path in the process inside the .nf):
// process {
//     withName: RUN_SCTransform {
//         container = null    // my system has not enough memory for SCTransform with docker trying local
//     }
// }


params {
    // imputDir point to a folder containing as many folers as the samples. The name of each folder is the name of the sample and contains 3 files:
    // barcodes.tsv.gz, features.tsv.gz and matrix.mtx.gz 
    inputDir    = "${projectDir}/data/"
    resultDir   = "${projectDir}/results"
    scriptFileLocal = "${projectDir}/r-scripts"  // used for running SCTransform  out of docker
    scriptFile = "/r-scripts"
    analysis   = 'parallel'   // "seurat", 'scanpy' or "parallel' to run both pipelines"
    harmony = "yes"  // "yes" or "no"  to run harmonization through harmony algorithm
    resolution = 0.8 // defines neighbour algorith resolution to increase cluster granularity
    cellType_manual = "no"  // include manual cell annotation options : "yes" or "no" (still under development)
    colapse_T_receptors ="yes" // permit to poll the Treceptors to avoid variance driven by TCR loci. It collapse all th TCR in 4 groups: TCR_A, TCR_B, TCR_D and TCR_G
    // samples permits to asign a group to each samples ej: control and treated. First element is same as used to name the folders containing the matrixes in inputDir.
    
    samples=    """ 
                'GSM6817423'='detectable' , 
                'GSM6817431'='undetectable' ,
                'GSM6817432' ='undetectable' ,
                'GSM6817433'='detectable' ,
                'GSM6817434'='undetectable' ,
                'GSM6817435'='undetectable' ,
                'GSM6817436'='detectable',
                'GSM6817424'='undetectable',
                'GSM6817425'='detectable',
                'GSM6817426'='undetectable',
                'GSM6817427'='undetectable',
                'GSM6817428'='detectable',
                'GSM6817430'='undetectable'

                    """
    pseudoBulk_p = 0.1
}
