params {
    inputDir    = "${projectDir}/GSM1/"
    resultDir   = "${projectDir}/results"
    scriptFile  = "${projectDir}/r-scripts"
    analysis   = 'seurat'   // "seurat" or 'scanpy'
    harmony = "yes"  // "yes" or "no"  to run harmonization through harmony algorithm
    resolution = 0.5 // defines neighbour algorith resolution
}
