// here you can decide what container manager to use: singularity or docker

// singularity {  
//     enabled = true
//     pullTimeout = 20000
// }
docker.enabled = true
docker.runOptions = "-v ${projectDir}/r-scripts:/r-scripts --memory 31g"

process {
    container = 'bontix77/sc_rna:v1.0'
    executor = 'local'
}

// if need to run outside the docker container (don't forget to recalibrate script's path in the process inside the .nf):
// process {
//     withName: RUN_SCTransform {
//         container = null    // my system has not enough memory for SCTransform with docker trying local
//     }
// }


process {
    withName: RUN_Seurat_markers {
        container = null    // my system has not enough memory for SCTransform with docker trying local
    }
}

params {
    inputDir    = "${projectDir}/GSM1/"
    resultDir   = "${projectDir}/results"
    scriptFileLocal = "${projectDir}/r-scripts"  // used for running SCTransform  out of docker
    scriptFile = "/r-scripts"
    analysis   = 'seurat'   // "seurat" or 'scanpy'
    harmony = "yes"  // "yes" or "no"  to run harmonization through harmony algorithm
    resolution = 0.5 // defines neighbour algorith resolution to increase cluster granularity
}
